*
{
    margin:0;
    padding: 0;
    background-color: aqua;
}
.container
{
    display: flex;
    justify-content: center;
    padding-top:25%;
}
.myTable
{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}
#Buttonid
{
    width: 200px;
    height: 50px;
}